<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
	<!-- Main Content -->
	<div id="content">
		<%- include ('../partials/admin/navbar.ejs') %>
		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<div class="row">
					<div class="col-12 col-md-10">
						<h3 class="font-weight-bolder">Order Id: 
							<small id="orderId">
								<%= order.id %> 
								<% if (order.deliveryDate) { %>
									<i class="fas fa-check-circle text-success"  data-toggle="tooltip" data-placement="right" title="Delivered!"></i>
								<% } %>
							</small>
						</h3>
					</div>
					<div class="col-12 col-md-2">
						<% if (order.deliveryDate === null) { %>
							<button class="btn btn-sm btn-success ml-lg-5" id="deliverBtn">Deliver Now <i class="fas fa-truck"></i></button>
						<% } %>
					</div>
				</div>
			</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-md-6 mt-2 mb-2 mt-md-0 mb-md-0">
							<h3 class="font-weight-bolder">User Id: <small><%= order.userId %></small></h3>
							<hr>
							<p><span class="font-weight-bold">Full Name:</span>&nbsp;<%= order.userFullName %></p>
							<p><span class="font-weight-bold">Email:</span>&nbsp;<%= order.userEmail %></p>
							<p><span class="font-weight-bold">Phone Number:</span>&nbsp;<%= order.userPhoneNumber %></p>
							<p><span class="font-weight-bold">Delivery Address:</span>&nbsp;<%= order.deliveryAddress %></p>
							<p><span class="font-weight-bold">City:</span>&nbsp;<%= order.userCity %></p>
							<p><span class="font-weight-bold">Pincode:</span>&nbsp;<%= order.userPincode %></p>
							<p><span class="font-weight-bold">Payment Method:</span>&nbsp;<%= order.paymentMethod %></p>
							<% if (order.isPaid) { %>
								<p><span class="font-weight-bold">Is Paid:</span>&nbsp;<i class="fas fa-check-circle text-success"  data-toggle="tooltip" data-placement="right" title="Paid"></i></p>
							<% } else { %>
								<p><span class="font-weight-bold">Is Paid:</span>&nbsp;<i class="fas fa-times-circle text-danger"  data-toggle="tooltip" data-placement="right" title="Not Paid"></i></p>
							<% } %>
							<p><span class="font-weight-bold">Ordered Date:</span>&nbsp;<%= order.orderedDate %></p>
							<% if (order.deliveryDate) { %>
								<p><span class="font-weight-bold">Delivery Date: </span><%= new Date(order.deliveryDate) %></p>
							<% } else { %>
								<p><span class="font-weight-bold">Delivery Date:</span>&nbsp;<i class="fas fa-times-circle text-danger"  data-toggle="tooltip" data-placement="right" title="Not yet delivered."></i></p>
							<% } %>
						</div>
						<div class="col-12 col-md-6 mt-2 mb-2 mt-md-0 mb-md-0">
							<h3 class="font-weight-bolder">Product Id: <small><%= order.productId %></small></h3>
							<hr>
							<p><span class="font-weight-bold">Product Name:</span>&nbsp;<%= order.productName %></p>
							<p><span class="font-weight-bold">Product Category:</span>&nbsp;<%= order.productCategory %></p>
							<p><span class="font-weight-bold">Price:</span>&nbsp;&#8377;<%= order.price %></p>
							<p><span class="font-weight-bold">Ordered Quantity:</span>&nbsp;<%= order.quantity %></p>
						</div>
					</div>
				</div>
			</div>
		<!-- /.container-fluid -->
		<!-- Button trigger modal -->
  
	</div>
	<!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<script src="js/tooltip.js"></script>

<!-- Delete particular Data -->
<script>
	$(document).ready(function () { 
		$('#deliverBtn').click(function(e) {
			var id = $('#orderId').html().trim();

			swal({
				title: "Are you sure?",
				text: "Note: If you dont't have enough items, delivery will be cancelled automatically",
				icon: "warning",
				buttons: true,
				dangerMode: true
			})
			.then((willDeliver) => {
				if (willDeliver) {
					$.ajax({
						type: 'PATCH',
						url: `/admin/order/${id}/deliver`,
						success: function (data) { 
							console.log(data)
							location.reload();
						},
						error: function (error) {
							swal(error.responseJSON.message);
						}
					})
				}
			})
			.catch(err => console.log(err))


		})
	})
</script>
