<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <%- include ('../partials/admin/navbar.ejs') %>

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"><%= currentModel %></h1>
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddNewData">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Add New
                    </button>
                    <a
                        target="_blank"
                        href="/admin/export/<%= exportTypes.products %>?category=<%= currentModel %>"
                        class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
                        ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
                    >
                </div>
            </div>
            <% if (data.length> 0) { %>
            <div class="mb-3">
                <h5>Legend</h5>
                <div class="d-flex">
                    <div class="mr-2">
                        <div class="border border-dark bg-light-danger" style="width: 20px; height: 20px"></div>
                    </div>
                    <div class="">Quantity < than 5</div>
                </div>
                <div class="d-flex">
                    <div class="mr-2">
                        <div class="border border-dark" style="width: 20px; height: 20px"></div>
                    </div>
                    <div class="">Quantity > than 5</div>
                </div>
            </div>
            <% } %> <%- include ('../partials/messages.ejs') %>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        List of all products under category "<%= currentModel %>"
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th class="text-center">Options</th>
                                    <% humanizedFields.forEach(fieldName=> { %>
                                    <th class="text-dark text-center"><%= fieldName %></th>
                                    <% }) %>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th scope="col">#</th>
                                    <th>Options</th>
                                    <% humanizedFields.forEach(fieldName=> { %>
                                    <th class="text-dark text-center"><%= fieldName %></th>
                                    <% }) %>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% data.forEach((item, num)=> { %>
                                <tr
                                    class="<%= item.quantity < adminQuantityWarningCount ? 'bg-light-danger' : 'text-dark' %>"
                                >
                                    <td><%= num+1 %></td>
                                    <td class="text-center">
                                        <a
                                            target="_blank"
                                            class="btn btn-outline-primary rounded-pill border-0 m-1"
                                            href="product/<%= item.id %>/details"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Detailed view"
                                        >
                                            <i class="fas fa-external-link-alt"></i>
                                        </a>
                                        <script>
                                            function deleteRow() {
                                                $(".deleteBtn").click(function (e) {
                                                    var id = $(this).attr("data-id");

                                                    swal({
                                                        title: "Are you sure?",
                                                        text:
                                                            "Once deleted, you will not be able to recover this data!",
                                                        icon: "warning",
                                                        buttons: true,
                                                        dangerMode: true,
                                                    })
                                                        .then(willDelete => {
                                                            if (willDelete) {
                                                                $.ajax({
                                                                    type: "DELETE",
                                                                    url: `/admin/product/${id}/delete`,
                                                                    success: function (data) {
                                                                        location.reload();
                                                                    },
                                                                    error: function (error) {
                                                                        swal(error);
                                                                    },
                                                                });
                                                            }
                                                        })
                                                        .catch(err => console.log(err));
                                                });
                                            }
                                        </script>
                                        <button
                                            onclick="deleteRow()"
                                            class="deleteBtn btn btn-outline-danger rounded-pill border-0 m-1"
                                            data-id="<%= item.id %>"
                                            data-toggle="tooltip"
                                            data-placement="left"
                                            title="Delete"
                                        >
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <% fields.forEach(fieldName=> { %> <% if (Array.isArray(item[fieldName])) { %>
                                    <td class="text-center">
                                        <img src="<%= item[fieldName][0] %>" class="w-50" alt="" />
                                    </td>
                                    <% } else if (item[fieldName]===true) { %>
                                    <td>
                                        <div class="text-center">
                                            <i class="fas fa-star text-warning"></i>
                                        </div>
                                    </td>
                                    <% } else if (item[fieldName]===false) { %>
                                    <td>
                                        <div class="text-center">
                                            <i class="fas fa-ban text-danger"></i>
                                        </div>
                                    </td>
                                    <% } else { %>
                                    <td><%= textLimitter(item[fieldName], 30) %></td>
                                    <% } %> <% }) %>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Button triggered modals -->
        <!-- Modal for adding new product -->
        <div
            class="modal fade"
            id="AddNewData"
            tabindex="-1"
            role="dialog"
            aria-labelledby="AddNewDataLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New <%= currentModel %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/admin/product/add" method="post">
                        <div class="modal-body">
                            <input
                                type="text"
                                name="category"
                                class="form-control"
                                value="<%= currentModel %>"
                                required
                                hidden
                            />
                            <input
                                type="text"
                                name="name"
                                class="form-control mt-2 mb-2"
                                placeholder="Product Name"
                                required
                            />
                            <input
                                type="number"
                                name="price"
                                class="form-control mt-2 mb-2"
                                placeholder="Price (INR)"
                                required
                            />
                            <input
                                type="number"
                                name="quantity"
                                class="form-control mt-2 mb-2"
                                placeholder="Quantity Available"
                                required
                            />
                            <input
                                type="number"
                                name="tax"
                                class="form-control mt-2 mb-2"
                                placeholder="Tax (%)"
                                required
                            />

                            <input
                                type="url"
                                name="primaryImage"
                                class="form-control mt-2 mb-2"
                                placeholder="Link of Primary Image"
                                required
                            />
                            <input
                                type="url"
                                name="productImage1"
                                class="form-control mt-2 mb-2"
                                placeholder="Link of Product Image 1"
                            />
                            <input
                                type="url"
                                name="productImage2"
                                class="form-control mt-2 mb-2"
                                placeholder="Link of Product Image 2"
                            />
                            <input
                                type="url"
                                name="productImage3"
                                class="form-control mt-2 mb-2"
                                placeholder="Link of Product Image 3"
                            />

                            <textarea
                                name="specs"
                                id="ckeditor"
                                class="form-control mt-2 mb-2"
                                placeholder="Specifications"
                            ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Timexio 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<script src="js/tooltip.js"></script>
<!-- Delete particular Data -->
<!-- <script>
		$(document).ready(function () {
			$('.deleteBtn').click(function (e) {
				var id = $(this).attr('data-id')

				swal({
					title: "Are you sure?",
					text: "Once deleted, you will not be able to recover this data!",
					icon: "warning",
					buttons: true,
					dangerMode: true
				})
					.then((willDelete) => {
						if (willDelete) {
							$.ajax({
								type: 'DELETE',
								url: `/admin/product/${id}/delete`,
								success: function (data) {
									location.reload();
								},
								error: function (error) {
									swal(error);
								}
							})
						}
					})
					.catch(err => console.log(err))


			})
		})
	</script> -->
