<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
	<!-- Main Content -->
	<div id="content">
		<%- include ('../partials/admin/navbar.ejs') %>

		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<div
				class="d-sm-flex align-items-center justify-content-between mb-4"
			>
				<h1 class="h3 mb-0 text-gray-800">
					Details
				</h1>
			</div>

		<%- include ('../partials/messages.ejs') %>


			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						Edit <i class="fas fa-pen"></i>
					</h6>
				</div>
				<div class="card-body">
                    <form action="/admin/user/<%= user.id %>/edit" method="post">
						<div class="form-group">
							<label for="name">Full Name<sup class="text-danger"><i class="fas fa-asterisk" data-toggle="tooltip" data-placement="right" title="This field cannot be empty"></i></sup></label>
							<input type="text" id="name" name="name"  class="form-control mt-2 mb-2" value="<%= user.name %>" placeholder="Full Name" required>
						</div>
						<div class="form-group">
							<label for="email">Email<sup class="text-danger"><i class="fas fa-asterisk" data-toggle="tooltip" data-placement="right" title="This field cannot be empty"></i></sup></label>
							<input type="email" id="email" name="email" class="form-control mt-2 mb-2" value="<%= user.email %>" placeholder="Email" required>
						</div>
						<div class="form-group">
							<label for="date">Date</label>
							<input type="datetime" id="date" name="date" class="form-control mt-2 mb-2" value="<%= user.date %>" placeholder="date" disabled>
						</div>
						<div class="form-group">
							<p>Products in Cart: <%= user.cart.length %></p>
							<% if (user.cart.length > 0) { %>
								<table class="table table-bordered">
									<tr>
										<th>Product Link</th>
										<th>Quantity</th>
									</tr>
									<% user.cart.forEach(item => { %>
										<tr>
											<td><%= item.id %></td>
											<td><%= item.quantity %></td>
										</tr>
									<% }) %>
								</table>
							<% } %>
						</div>
						<div class="form-group">
							<p>Orders: <%= user.orders.length %></p>
							<% if (user.orders.length > 0) { %>
								<table class="table table-bordered">
									<tr>
										<th>Product Link</th>
										<th>Quantity</th>
									</tr>
									<% user.cart.forEach(item => { %>
										<tr>
											<td><%= item.id %></td>
											<td><%= item.quantity %></td>
										</tr>
									<% }) %>
								</table>
							<% } %>
						</div>
						<div class="form-group">
                            <input type="checkbox" name="admin" id="adminCheckBox" value="<%= user.admin %>" <%= user.admin ? "checked" : "" %>>
							<label for="adminCheckBox">Allow Admin permissions</label>
						</div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->

	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Timexio 2020</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<script src="js/tooltip.js"></script>

<script>
	$('#adminCheckBox').change(e => {
		e.target.value = e.target.checked
	})
</script>