<%- include('../partials/nabvar.ejs') %>
<main>
	<div class="container">
		<div class="mt-5">
        <h3>All Orders</h3>
		</div>
		
		<br />
		<br />
		
        <div class="table-responsive pt-2">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Order Id</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Delivery Date</th>
                </tr>
              </thead>
              
              <tbody>
                <% orders.forEach(order => { %>
                  <tr>
                    <td style="width: 50%;">
                      <a href="/product/<%= order.productId %>/details" target="_blank">
                        <div class="media">
                          <div class="d-flex w-25">
                            <img class="border-0 w-100" src="<%= order.image %>" alt="product image" />
                          </div>
                          <div class="media-body mx-4 mt-2">
                            <p class="text-primary"><%= order.productName %></p>
                          </div>
                        </div>
                      </a>
                    </td>
                    <td>
                      <%= order.id %>
                    </td>
                    <td>
                      <h4><span class="input-price"><%= order.quantity %></span></h4>
                    </td>
                    <td>
                      <h4>&#8377;<span class="input-price"><%= order.price %></span></h4>
                    </td>
                    <td>
                      <% if (order.deliveryDate) { %>
                        <%= order.deliveryDate %>
                      <% } else { %>
                        <a href="#" class="text-danger">Cancel Order</a>
                      <% } %>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
            <hr>
            <div class="checkout_btn_inner">
              <a class="btn_1 btn-sm" href="/"><span data-feather="arrow-left"></span> Continue Shopping</a>
            </div>
        </div>
	</div>
</main>
<%- include('../partials/footer.ejs') %> <%-
include('../partials/search-box.ejs') %>
