<%- include('../partials/navbar.ejs') %>
<main>
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <input type="text" id="userId" value="<%= userId %>" hidden />
        <div class="container">
            <% if (wishListItems.length > 0) { %>
            <div class="hero-cap text-center mt-2 mb-5">
                <h1>Your Wishlist</h1>
            </div>

            <div class="cart_inner">
                <div class="row">

                        <div class="table-responsive pt-2">
                            <table class="table">
                                <tbody>
                                    <% wishListItems.forEach(product => { %>
                                    <tr>
                                        <td style="width: 100%">
                                            <div class="media">
                                                <div class="d-flex">
                                                    <a href="/product/<%= product.id %>/details" target="_blank"
                                                        ><img
                                                            class="border-0"
                                                            src="<%= product.images[0] %>"
                                                            alt="product image"
                                                    /></a>
                                                </div>
                                                <div class="media-body">
                                                    <a href="/product/<%= product.id %>/details" target="_blank"
                                                        ><p><%= product.name %></p></a
                                                    >
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h4>&#8377;<span class="input-price"><%= product.price %></span></h4>
                                        </td>
                                        <!-- <td>
                                            <div class="checkout_btn_inner">
                                                <a class="button checkout_btn_1 btn-block text-center"
                                                    ><span class="mr-2 text-capitalize">Add to Cart</span
                                                    ><i data-feather="credit-card"></i
                                                ></a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <button class="del-product-btn" data-productId="<%= product.id %>">
                                                &times;
                                            </button>
                                        </td> -->
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <div class="checkout_btn_inner">
                                <a class="btn_1 btn-sm" href="/"
                                    ><span data-feather="arrow-left"></span> Continue Shopping</a
                                >
                            </div>
                        </div>
                </div>
            </div>
            <% } else { %>
            <h3 class="display-4 text-center m-5">Your Wishlist is empty!</h3>
            <% } %>
        </div>
    </section>
    <!--================End Cart Area =================-->
</main>
<%- include('../partials/footer.ejs') %> <%- include('../partials/search-box.ejs')%>

<script>
    var quantitySelectors = document.querySelectorAll("select");
    var deleteBtns = document.querySelectorAll(".del-product-btn");
    var userId = document.querySelector("#userId").value;

    // setting event listeners for quantity selection
    // quantitySelectors.forEach(function (selector) {
    //     selector.addEventListener("change", function (e) {
    //         var updatedQuantity = e.target.value;
    //         var productId = e.target.dataset.productid;
    //         var dataObj = {
    //             userId: userId,
    //             productId: productId,
    //             updatedQuantity: updatedQuantity,
    //         };
    //         $.ajax({
    //             type: "PATCH",
    //             contentType: "application/json",
    //             url: window.location.href + "/update",
    //             data: JSON.stringify(dataObj),
    //             success: function (response) {
    //                 swal("Cart updated successfully!", "Close this box to refresh this page automatically!", "success")
    //                     .then(result => {
    //                         location.reload();
    //                     })
    //                     .catch(err => {
    //                         console.log("error: ", err);
    //                     });
    //             },
    //             error: function (response) {
    //                 swal("Cart update Failed!", "If this problem persists, reload the page.", "error");
    //             },
    //         });
    //     });
    // });

    // // setting event listeners for all delete buttons
    // deleteBtns.forEach(function (delBtn) {
    //     delBtn.addEventListener("click", function (e) {
    //         var productId = e.target.dataset.productid;
    //         console.log(productId);
    //         var dataObj = {
    //             userId: userId,
    //             productId: productId,
    //         };
    //         $.ajax({
    //             type: "DELETE",
    //             contentType: "application/json",
    //             url: window.location.href + "/delete",
    //             data: JSON.stringify(dataObj),
    //             success: function (response) {
    //                 window.location.reload();
    //             },
    //             error: function (response) {
    //                 swal("Something went wrong!", "Product not is removed from the cart", "error");
    //             },
    //         });
    //     });
    // });
</script>
