<%- include('partials/navbar.ejs') %>
<main>
    <!-- ? New Product Start -->
    <section class="mt-5 mb-5 section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle mb-70">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <% newArrivalProducts.forEach(product => { %>
                    <%- include('partials/product-snippet-wide.ejs', {product}) %>
                <% }) %>
            </div>
        </div>
    </section>
    <!--  New Product End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area section-padding30">
        <div class="container-fluid p-0 fix">
            <div class="section-tittle mb-70">
                <h2>Featured</h2>
            </div>
            <div class="row">
                <% featuredProducts.forEach(product => { %>
                    <%- include('partials/product-snippet-wide.ejs', {product}) %>
                <% }) %>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
    <!--? Popular Items Start -->
    <div class="popular-items section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row">
                <div class="col-12">
                    <div class="section-tittle mb-70">
                        <h2>Popular Items</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% popularProducts.forEach(product => { %>
                    <%- include('partials/product-snippet-wide.ejs', {product}) %>
                <% }) %>
            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="catagori.html" class="btn view-btn1"
                        >View More Products</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>
                                aorem ixpsacdolor sit ameasecur
                                adipisicing elitsf edasd.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>
                                aorem ixpsacdolor sit ameasecur
                                adipisicing elitsf edasd.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>
                                aorem ixpsacdolor sit ameasecur
                                adipisicing elitsf edasd.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>
<%- include('./partials/footer.ejs') %> 
<%- include('./partials/search-box.ejs') %>