<%- include('partials/navbar.ejs') %>
<main>
    <div class="row mt-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="image-previews">
                <p class="lead"><small>Click on any image to zoom</small></p>
                <% product.images.forEach(image => { %>
                    <% if (image.length > 0) { %>
                        <img src=<%= image %> alt="preview image" class="border p-2 product-preview-image" style="height: 50px; width: 50px;">
                    <% } %>
                <% }) %>
            </div>
            <img src="<%= product.images[0] %>" class="w-100 mt-4" id="productPrimaryImage" alt="primary image">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-5">
            <%- include('partials/messages.ejs')  %> 
            <h3><%= product.name %></h3>
            <hr>
            <table class="table table-borderless">
                <tr>
                    <td><p class="lead">M.R.P:</p></td>
                    <td>
                        <del class="text-danger">&#8377;<%= (product.price * 13.685).toFixed(2) %></del>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="">Price:</h4></td>
                    <td>
                        <h4 class="text-danger">&#8377;<%= (product.price + ((product.tax/100)*product.price)).toLocaleString() %></h4>
                        <% if (product.price + ((product.tax/100)*product.price) > minAmtReqForFreeDelivery) { %>
                            <small><strong class="text-success">FREE DELIVERY!</strong></small>
                        <% } else { %>
                            <small>Shipping charges &#8377; <%= shippingPrice %></small>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td><p class="lead">You save:</p></td>
                    <td>
                        <p class="text-danger">&#8377;<%= ((product.price * 13.685) - product.price + ((product.tax/100)*product.price)).toFixed(2)  %> <small class="text-dark">Inclusive of all taxes (<%= product.tax %>%)</small></p>
                    </td>
                </tr>
            </table>
            <% if (product.quantity > 0) { %>
                <div class="buy-cart-btns mb-5 d-flex justify-content-center justify-content-md-start flex-wrap">
                    <button class="btn-buy text-capitalize m-1">Buy Now <i data-feather="zap"></i></button>
                    <form action="/account/cart/<%= product.id %>/add" method="POST">
                        <button type="submit" class="btn-addToCart text-capitalize m-1">
                            Add to Cart <i data-feather="shopping-cart"></i>
                        </button>
                    </form>
                </div>
            <% } else { %>
                <p>All products have been <strong>sold out!</strong></p>
            <% } %>
            <hr>
            <h4>Availability: 
                <% if (product.quantity > 1) { %>
                    <span data-feather="check-circle" class="text-success" data-toggle="tooltip" data-placement="right" title="Product is available!"></span>
                <% } else { %>
                    <span data-feather="x-circle" class="text-danger" data-toggle="tooltip" data-placement="right" title="Coming Soon!"></span>
                <% } %>
            </h4>
            <div class="specs mt-5">
                <h4>Specifications</h4>
                <p><%= product.specs %></p>
            </div>
        </div>
    </div>
</main>

<script>
    $('.product-preview-image').click(function (e) { 
        var image = e.currentTarget.src;
        $('#productPrimaryImage').attr('src', image);
    })
</script>


<%- include('./partials/footer.ejs') %> 
<%- include('./partials/search-box.ejs') %>